###########
# Python
###########

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

###########
# RTHeroes stuff to ignore
##########
matlab_DOPANF_playground/
matlab_TemplateExperiment/
ptbscreen_*.py
mlproc_*.py
config_*.py
OpenNFT_*.py
OpenNFT_venv_updated/
Open-NFT_venv/
matlab_test_after_merge/
matlab_dcm_motor_test_updated/
.DS_STORE

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/
docs/build/

# PyCharm
.idea/


###########
# Matlab
###########
*.asv
matlab/Estimated_*.mat
matlab/Ind_DCM_*.mat
*.mat

matlab/\.DS_Store

matlab/preproc/
